name: GraphQL server deploy

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x]
    steps:
      - name: Prepare dockerfile
        run: sed -i 's/secret_DBUSER/${{ secrets.DBUSER }}/' ./dockerfile
      - run: sed -i 's/secret_DBPASSWORD/${{ secrets.DBPASSWORD }}/' ./dockerfile
      - run: sed -i 's/secret_DBURL/${{ secrets.DBURL }}/' ./dockerfile
      - run: sed -i 's/secret_DBPORT/${{ secrets.DBPORT }}/' ./dockerfile
      - run: sed -i 's/secret_DBNAME/${{ secrets.DBNAME }}/' ./dockerfile
      - run: sed -i 's/secret_PORT/${{ secrets.PORT }}/' ./dockerfile
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push docker image
        uses: docker/build-push-action@v2.10.0
        with:
          file: ./dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/rumpeldev-graphql:latest
